
/**
 * Garland, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net`
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

/**
 * Generic elements
 */
body {
	margin: 0;
	padding: 0;
	background:#0a1822;
	font: 12px Verdana, sans-serif;
	color: #494949;
}
textarea, select {
	color: #494949;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	font-size:26px;
}
h3 {
	font-size:24px;
}
h3 {
	font-size:22px;
}
h4 {
	font-size:20px;
}
h5 {
	font-size:17px;
}
h6 {
	font-size:14px;
}
a:link, a:visited {
	color: #799FBB;
	text-decoration: none;
}
a:hover {
	color: #799FBB;
	text-decoration: underline;
}
a:active, a.active {
	color: #5895be;
}
ul li.leaf a, ul li.expanded a, ul li.collapsed a {
	display: block;
}
ul.inline li {
	background: none;
	margin: 0;
	padding: 0 1em 0 0; /* LTR */
}
ol.task-list {
	margin-left: 0; /* LTR */
	list-style-type: none;
	list-style-image: none;
}
ol.task-list li {
	padding: 0.5em 1em 0.5em 2em; /* LTR */
}
ol.task-list li.active {
	background: transparent url(images/task-list.png) no-repeat 3px 50%; /* LTR */
}
ol.task-list li.done {
	color: #393;
	background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; /* LTR */
}
ol.task-list li.active {
	margin-right: 1em; /* LTR */
}
fieldset ul.clear-block li {
	margin: 0;
	padding: 0;
	background-image: none;
}
dl {
	margin: 0.5em 0 1em 1.5em; /* LTR */
}
dl dt {
}
dl dd {
	margin: 0 0 .5em 1.5em; /* LTR */
}
img, a img {
	border: none;
}
table {
	margin: 1em 0;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #d3e7f4;
	color: #494949;
	font-weight: bold;
}
th a:link, th a:visited {
	color: #6f9dbd;
}
td, th {
	padding: .3em .5em;
}
tr.even, tr.odd, tbody th {
	border: solid #d3e7f4;
	border-width: 1px 0;
}
tr.odd, tr.info {
	background-color: #edf5fa;
}
tr.even {
	background-color: #fff;
}
tr.drag {
	background-color: #fffff0;
}
tr.drag-previous {
	background-color: #ffd;
}
tr.odd td.active {
	background-color: #ddecf5;
}
tr.even td.active {
	background-color: #e6f1f7;
}
td.region, td.module, td.container, td.category {
	border-top: 1.5em solid #fff;
	border-bottom: 1px solid #b4d7f0;
	background-color: #d4e7f3;
	color: #455067;
	font-weight: bold;
}
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
	border-top-width: 0;
}
span.form-required {
	color: #ffae00;
}
span.submitted, .description {
	font-size: 0.92em;
	color: #898989;
}
.description {
	line-height: 150%;
	margin-bottom: 0.75em;
	color: #898989;
}
.messages, .preview {
	margin: .75em 0 .75em;
	padding: .5em 1em;
}
.messages ul {
	margin: 0;
}
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
	margin: 0.25em 0;
}
#center form {
	margin-bottom: 2em;
}
.form-button, .form-submit {
	margin: 2em 0.5em 1em 0; /* LTR */
}
#dblog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit {
	margin: 0;
}
.box {
	margin-bottom: 2.5em;
}
/**
 * Layout
 */
#header-region {
	min-height: 1em;
	background: #d2e6f3 url(images/bg-navigation.png) repeat-x 50% 100%;
}
#header-region .block {
	display: block;
	margin: 0 1em;
}
#header-region .block-region {
	display: block;
	margin: 0 0.5em 1em;
	padding: 0.5em;
	position: relative;
	top: 0.5em;
}
#header-region * {
	display: inline;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}
/* Prleftsidebar the previous directive from showing the content of script elements in Mozilla browsers. */
#header-region script {
	display: none;
}
#header-region p, #header-region img {
	margin-top: 0.5em;
}
#header-region h2 {
	margin: 0 1em 0 0; /* LTR */
}
#header-region h3, #header-region label, #header-region li {
	margin: 0 1em;
	padding: 0;
	background: none;
}
#wrapper {
	background: #edf5fa url(images/body.png) repeat-x 50% 0;
}
#wrapper #container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1270px;
}
#wrapper #container #header {
	height: 80px;
}
#wrapper #container #header #logo-floater {
	position: absolute;
}
#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
	line-height: 120px;
	position: relative;
	z-index: 2;
	white-space: nowrap;
}
#wrapper #container #header h1 span {
	font-weight: bold;
}
#wrapper #container #header h1 img {
	padding-top: 16px;
	padding-right: 20px; /* LTR */
	float: left; /* LTR */
}
/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.sidebars {
	min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-left, body.sidebar-right {
	min-width: 780px;
}
/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
	float: left;
	width: 100%;
}
/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
	margin-left: -210px;
}
body.sidebar-right #center {
	margin-right: -210px;
}
body.sidebars #center {
	margin: 0 -210px;
}
/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
	margin-left: 210px;
}
body.sidebar-right #squeeze {
	margin-right: 210px;
}
body.sidebars #squeeze {
	margin: 0 210px;
}
/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
	margin: 60px 0 5em;
	width: 210px;
	float: left;
	z-index: 2;
	position: relative;
}
#wrapper #container .sidebar .block {
	margin: 0 0 1.5em 0;
}
#sidebar-left .block {
	padding: 0 15px 0 0px;
}
#sidebar-right .block {
	padding: 0 0px 0 15px;
}
.block .content {
	margin: 0 0;
}
#sidebar-left .block-region {
	margin: 0 15px 0 0px; /* LTR */
}
#sidebar-right .block-region {
	margin: 0 0px 0 15px; /* LTR */
}
.block-region {
	padding: 1em;
	background: transparent;
	border: 2px dashed #b4d7f0;
	text-align: center;
	font-size: 1.3em;
}
/**
 * Nodes & comments
 */
.node {
	border-bottom: 0px solid #e9eff3;
	margin:0;
	padding:0;
}
ul.links li, ul.inline li {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0; /* LTR */
	padding-right: 1em; /* LTR */
	background-image: none;
}
.node .links, .comment .links {
	text-align: left; /* LTR */
}
.node .links ul.links li, .comment .links ul.links li {
}
.terms ul.links li {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 1em;
}
.picture, .comment .submitted {
	float: right; /* LTR */
	clear: right; /* LTR */
	padding-left: 1em; /* LTR */
}
.new {
	color: #ffae00;
	font-size: 0.92em;
	font-weight: bold;
	float: right; /* LTR */
}
.terms {
	float: right; /* LTR */
}
.preview .node, .preview .comment, .sticky {
	margin: 0;
	padding: 0.5em 0;
	border: 0;
	background: 0;
}
.sticky {
	padding: 1em;
	background-color: #fff;
	border: 1px solid #e0e5fb;
	margin-bottom: 2em;
}
#comments {
	position: relative;
	top: -1px;
	border-bottom: 1px solid #e9eff3;
	margin: -1.5em -25px 0;
	padding: 0 25px;
}
#comments h2.comments {
	margin: 0 -25px;
	padding: .5em 25px;
	background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}
.comment {
	margin: 0 -25px;
	padding: 1.5em 25px 1.5em;
	border-top: 1px solid #e9eff3;
}
.indented {
	margin-left: 25px; /* LTR */
}
.comment h3 a.active {
	color: #494949;
}
.node .content, .comment .content {
	margin: 0 0;
}
/**
 * Aggregator.module
 */
#aggregator {
	margin-top: 1em;
}
#aggregator .feed-item-title {
	font-size: 160%;
	line-height: 130%;
}
#aggregator .feed-item {
	border-bottom: 1px solid #e9eff3;
	margin: -1.5em -31px 1.75em;
	padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
	font-size: 0.92em;
}
#aggregator .feed-item-meta {
	font-size: 0.92em;
	color: #898989;
}
/**
 * Color.module
 */
#palette .form-item {
	border: 1px solid #fff;
}
#palette .item-selected {
	background: #fff url(images/gradient-inner.png) repeat-x 0 0;
	border: 1px solid #d9eaf5;
}
/**
 * Menu.module
 */
tr.menu-disabled {
/*  opacity: 0.5;*/
}
tr.odd td.menu-disabled {
	background-color: #edf5fa;
}
tr.even td.menu-disabled {
	background-color: #fff;
}
/**
 * Poll.module
 */
.poll .bar {
	background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
	border: solid #f0f0f0;
	border-width: 0 1px 1px;
}
.poll .bar .foreground {
	background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}
.poll .percent {
	font-size: .9em;
}
/**
 * Autocomplete.
 */
#autocomplete li {
	cursor: default;
	padding: 2px;
	margin: 0;
}
/**
 * Collapsible fieldsets
 */
fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #d9eaf5;
	background:none;
}
/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
	padding: 0 1em 1em;
	background-position: 0 .75em;
	background-color: transparent;
}
*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
	padding-top: 1em;
}
fieldset legend {
	/* Fix disappearing legend in FFox */
  display: block;
}
*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
	display: inline;
}
html.js fieldset.collapsed {
	background: transparent;
	padding-top: 0;
	padding-bottom: .6em;
}
html.js fieldset.collapsible legend a {
	padding-left: 2em; /* LTR */
	background: url(images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}
html.js fieldset.collapsed legend a {
	background: url(images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}
/**
 * Syndication icons and block
 */
#block-node-0 h2 {
	float: left; /* LTR */
	padding-right: 20px; /* LTR */
}
#block-node-0 img, .feed-icon {
	float: right; /* LTR */
	padding-top: 4px;
}
#block-node-0 .content {
	clear: right; /* LTR */
}
/**
 * Login Block
 */
#user-login-form {
	text-align: center;
}
#user-login-form ul {
	text-align: left; /* LTR */
}
/**
 * User profiles.
 */
.profile {
	margin-top: 1.5em;
}
.profile h3 {
	border-bottom: 0;
	margin-bottom: 1em;
}
.profile dl {
	margin: 0;
}
.profile dt {
	font-weight: normal;
	color: #898989;
	font-size: 0.92em;
	line-height: 1.3em;
	margin-top: 1.4em;
	margin-bottom: 0.45em;
}
.profile dd {
	margin-bottom: 1.6em;
}
/**
 * Admin Styles
 */
div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu {
	margin: 0;
	padding: 0;
}
div.admin .left {
	float: left; /* LTR */
	width: 48%;
}
div.admin .right {
	float: right; /* LTR */
	width: 48%;
}
div.admin-panel {
	background: none;
	border-bottom:1px solid #666666;
	padding: 1em 1em 1.5em;
}
div.admin-panel .description {
	margin-bottom: 1.5em;
}
div.admin-panel dl {
	margin: 0;
}
div.admin-panel dd {
	color: #898989;
	font-size: 0.92em;
	line-height: 1.3em;
	margin-top: -.2em;
	margin-bottom: .65em;
}
table.system-status-report th {
	border-color: #d3e7f4;
}
#autocomplete li.selected, tr.selected td, tr.selected td.active {
	background: #027ac6;
	color: #fff;
}
tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
	color: #d3e7f4;
}
tr.taxonomy-term-preview {
/*  opacity: 0.5;*/
}
tr.taxonomy-term-divider-top {
	border-bottom: none;
}
tr.taxonomy-term-divider-bottom {
	border-top: 1px dotted #CCC;
}
/**
 * CSS contentbottom
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
	background-color: #fff;
	border: 1px solid #b8d3e5;
}
.preview {
	background-color: #fcfce8;
	border: 1px solid #e5e58f;
}
div.status {
	color: #33a333;
	border-color: #c7f2c8;
}
div.error, tr.error {
	color: #a30000;
	background-color: #FFCCCC;
}
.form-item input.error, .form-item textarea.error {
	border: 1px solid #c52020;
	color: #363636;
}
/**
 * dblog.module
 */
tr.dblog-user {
	background-color: #fcf9e5;
}
tr.dblog-user td.active {
	background-color: #fbf5cf;
}
tr.dblog-content {
	background-color: #fefefe;
}
tr.dblog-content td.active {
	background-color: #f5f5f5;
}
tr.dblog-warning {
	background-color: #fdf5e6;
}
tr.dblog-warning td.active {
	background-color: #fdf2de;
}
tr.dblog-error {
	background-color: #fbe4e4;
}
tr.dblog-error td.active {
	background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
	background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
	background: #c7eec7;
}
/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
	background-color: #fcc;
	border-color: #ebb;
	color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
	background-color: #ffd;
	border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
	background-color: #dfd;
	border-color: #beb;
}
/******************************** MY CSS ***********************************/
body {
	padding:0;
	margin:0;
}
div, p, h1, h2, h3, ul, img {
	padding:0;
	margin:0;
}
ul {
	list-style-type:none;
}
.balnk {
	font-size:0px;
	line-height:0px;
	clear:both;
}
/*--------------------------------header-------------------*/
#main_header {
	width:100%;
	margin:0 auto;
	background:url(images/bg.gif) repeat-x #0a2b43;
	color:#FFFFFF;
	height:216px;
}
#main_header #header {
	width:764px;
	margin:0 auto;
	background:url(images/header_pic.gif) no-repeat #fff6d8;
	color:#FFFFFF;
	height:216px;
	position:relative;
	text-align:center;
}
#main_header #header ul {
	background:url(images/search_bg.gif) no-repeat #09283f;
	color:#FFFFFF;
	display:block;
	position:absolute;
	height:22px;
	width:123px;
	margin:0;
	padding:6px 0 0 26px;
	top:10px;
	left:0px;
}
#main_header #header ul li {
	float:left;
	display:block;
	margin:0 23px 0 0;
}
#main_header #header ul li a {
	height:15px;
	text-decoration:none;
	text-indent:-2000px;
	display:block;
}
#main_header #header ul li a.home {
	background:url(images/home.gif) no-repeat 0 0;
	width:16px;
	height:16px;
}
#main_header #header ul li a.home:hover {
	background:url(images/home_h.gif) no-repeat 0 0;
	width:16px;
	height:16px;
}
#main_header #header ul li a.user {
	background:url(images/user.gif) no-repeat 0 0;
	width:16px;
	height:16px;
}
#main_header #header ul li a.user:hover {
	background:url(images/user_h.gif) no-repeat 0 0;
	width:16px;
	height:16px;
}
#main_header #header ul li a.contact {
	background:url(images/contact.gif) no-repeat 0 0;
	width:19px;
	height:16px;
}
#main_header #header ul li a.contact:hover {
	background:url(images/contact_h.gif) no-repeat 0 0;
	width:19px;
	height:16px;
}
#main_header #header ul.free {
	background:url(images/toll_free-1.gif) no-repeat #09283f;
	color:#5d5024;
	display:block;
	height:28px;
	width:140px;
	padding:7px 0 0 43px;
	position:absolute;
	top:2px;
	left:580px;
	margin:0;
}
#main_header #header ul.free li {
	float:left;
	display:block;
	font:10px/12px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align:center;
	color:#5D5024;
	margin:0px 0px 0 0;
	padding:0 0 0 0;
	text-transform:uppercase;
	font-weight:normal;
	background-color:#FFF6D8;
}
#main_header #header ul.free li span {
	font-size:14px;
	line-height:16px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#ff0033;
	width:63px;
	height:16px;
}
#main_header #header ul.free li a.call {
	color:#e5f4ff;
	font-size:11px;
	font-weight:normal;
	text-transform:uppercase;
	text-indent:0px;
	width:72px;
	margin:0 0 0 0px;
	padding:0 0 0 5px;
	background-color:#09283f;
}
#main_header #header img {
	position:absolute;
	left:40px;
	top:74px;
	display:block;
}
#main_header #header ul.navi {
	width:491px;
	display:block;
	position:absolute;
	top:189px;
	left:131px;
	padding:0;
	margin:0;
	background:none;
}
#main_header #header ul.navi li {
	background:url(images/saparation.gif) no-repeat right;
	height:22px;
	padding:0 14px 0 5px;
	margin:0;
	display:block;
	float:left;
}
#main_header #header ul.navi li.li1 {
	background:none;
	height:22px;
	padding:0 14px 0 5px;
	margin:0;
	display:block;
	float:left;
}
#main_header #header ul.navi li a {
	font:12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#847543;
	text-decoration:none;
	text-indent:0px;
	padding:0 0 0 15px;
	font-weight:bold;
	margin:0;
	width:inherit;
	background-color:#fff6d8;
}
#main_header #header ul.navi li a:hover {
	background:url(images/navi_h.gif) no-repeat 0 2px;
}
/*------------------------------------body-------------------------*/


#contentbottom {
	clear:both;
	padding-top:25px;
	width:786px;
}
#contentbottom .block h2 {
	background-image:url(images/titlebg.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	height:48px;
	padding-left:10px;
	padding-top:3px;
}
#main_body {
	width:100%;
	background-color:#0a2b43;
	color:#fff6d8;
	float:left;
	padding-bottom:25px;
}
#body {
	width:764px;
	margin:0 auto 0 auto;
	padding:17px 0 0 0;
	text-align:left;
}
#body h2 {
	font:28px/24px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color:#fff6d9;
	margin:0 0 15px 0px;
	font-weight:normal;
	background-color:#0a2b43;
	display:block;
	padding:0px;
}
#body p span {
	color:#fff6d8;
	background-color:#0a2b43;
}
#body p span.bg {
	color:#799fbb;
	background-color:#041929;
}
#leftsidebar {
	width:215px;
	padding:0 0 0 25px;
	float:left;
	display:block;
}
#leftsidebar h2 {
	background:url(images/leftsidebar_bg.gif) no-repeat;
	font:24px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
s margin:0;
	font-weight:normal;
	display:block;
}
#leftsidebar h2 span {
	color:#847543;
	font:11px/12px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#fff6d8;
	display:block;
}
#leftsidebar p {
	width:191px;
	display:block;
	font:13px Verdana, Arial, Helvetica, sans-serif;
	color:#799fbb;
	background-color:#0a2b43;
	margin:19px 0 0 23px;
	background:none;
	padding:0;
}
#leftsidebar h3 {
	color:#fff6d8;
	font-weight:bold;
	font:14px Verdana, Arial, Helvetica, sans-serif;
	width:191px;
	display:block;
	margin:19px 0 0 23px;
	padding:0;
	background-color:#0a2b43;
}
#leftsidebar h3 a {
	width:171px;
	height:17px;
	display:block;
	background:url(images/arrow.gif) no-repeat 160px 6px #051b2b;
	padding:0 0 0 7px;
	margin:4px 0 0px 0;
	font:11px/15px Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
#leftsidebar h3 a:hover {
	background:none;
	color:#FFFFFF;
	background-color:#0a2b43;
}
#leftsidebar p a.more {
	width:56px;
	height:12px;
	display:block;
	background:url(images/more_bg.gif) no-repeat #0a2b43;
	margin:22px 0 37px 118px;
	font:11px/11px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	padding:0 0 0 5px;
	text-decoration:none;
}
#leftsidebar p a.more:hover {
	background:url(images/more_bg_h.gif) no-repeat #0a2b43;
	color:#ff0033;
}
/*------------------------leftsidebar-------------*/
#leftsidebar {
	width:160px;
	padding:0 0 20px 0px;
	float:left;
	display:block;
}
#leftsidebar ul {
	padding-left:0px;
	margin-left:0px;
}
#contentbottom h2 {
	background:url(images/contentbottom.gif) no-repeat;
	font:24px/31px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	height:45px;
	margin:0;
	font-weight:normal;
	display:block;
}
#contentbottom .block {
	float:left;
	padding:0 26px 0 0;
	width:235px;
}
#contentbottom h2 span, #leftsidebar h2 span, #rightsidebar h2 span {
	color:#847543;
	font:11px/12px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#fff6d8;
	display:block;
}
#contentbottom p {
	font:13px Verdana, Arial, Helvetica, sans-serif;
	color:#799fbb;
	padding:0;
}
#contentbottom ul li, #leftsidebar ul li, #rightsidebar ul li {
	color:#fff6d8;
	padding:0 0 0 0;
	margin:0px;
	list-style:none;
}
#contentbottom ul li a, #leftsidebar ul li a, #rightsidebar ul li a {
	color:#799fbb;
	text-decoration:none;
	display:block;
	padding:0px 0 0px 0;
	margin:0;
}
#contentbottom a.online, #leftsidebar a.online, #rightsidebar a.online {
	width:146px;
	height:57px;
	border:#486d88 1px solid;
	display:block;
	margin:0px;
	background-color:#051b2b;
	color:#fff6d8;
	padding:10px 18px 0 16px;
	font:22px/28px Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
}
#contentbottom a.online span, #leftsidebar a.online span, #rightsidebar a.online span {
	color:#799fbb;
	font-size:18px;
	line-height:18px;
	padding:0 0 0 8px;
	background-color:#051b2b;
	display:block;
}
#contentbottom a.online:hover, #leftsidebar a.online:hover, #rightsidebar a.online:hover {
	background-color:#1c4f75;
	color:#fff6d8;
}
/*--------------------------------rightsidebar-------------------*/
#rightsidebar {
	width:160px;
	padding:0 0 0px 13px;
	float:left;
}
#rightsidebar h2 {
	background:url(images/rightsidebar.gif) no-repeat;
	font:24px/31px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	height:45px;
	margin:0;
	font-weight:normal;
	display:block;
}
#rightsidebar h2 span {
	color:#847543;
	font:11px/12px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#fff6d8;
	display:block;
}
#rightsidebar p {
	font:13px Verdana, Arial, Helvetica, sans-serif;
	color:#799fbb;
	background-color:#0a2b43;
	margin:19px 0 0 0px;
	background:none;
	padding:0;
}
#rightsidebar h3 {
	color:#fff6d8;
	font:14px Verdana, Arial, Helvetica, sans-serif;
	width:190px;
	display:block;
	margin:19px 0 0 16px;
	padding:0;
	font-weight:bold;
	background-color:#0a2b43;
}
#rightsidebar ul {
	width:191px;
	display:block;
	margin:5px 0 0 16px;
}
#rightsidebar ul li {
	background:url(images/arrow1.gif) no-repeat 0 12px;
	display:block;
	padding:0 0 0 14px;
	margin:0px;
	list-style:none;
}
#rightsidebar ul li a {
	font:14px/24px Verdana, Arial, Helvetica, sans-serif;
	color:#799fbb;
	text-decoration:underline;
	background-color:#0a2b43;
}
#rightsidebar ul li a:hover {
	text-decoration:none;
}
#rightsidebar a.more1 {
	width:56px;
	height:12px;
	display:block;
	background:url(images/more_bg.gif) no-repeat #0a2b43;
	margin:39px 0 37px 121px;
	font:11px/12px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	padding:0 0 0 5px;
	text-decoration:none;
}
#rightsidebar a.more1:hover {
	background:url(images/more_bg_h.gif) no-repeat #0a2b43;
	color:#ff0033;
}
/*---------------------------------footer-----------------*/
#main_footer {
	width:100%;
	float:left;
	background:url(images/footer_bg.gif) repeat-x #0c1d2a;
	color:#ffffff;
	border-top:#ffffff 1px solid;
	margin:0px;
	padding:0px;
}
#footer {
	width:764px;
	text-align:center;
	margin:0 auto 0 auto;
}
#footer ul.primary-links {
	width:100%;
	list-style-type:none;
	margin:0px 0 0 0px;
	float:none;
	padding:46px 0 10px 0px;
	clear:both;
}
#footer ul.primary-links li {
	display:inline;
	float:none;
	padding-right:0px;
	border-right:1px solid #ffffff;
}
#footer ul.primary-links li.last {
	display:inline;
	float:none;
	padding-right:0px;
	border-right:0px solid #ffffff;
}
#footer ul.primary-links li a {
	font:14px/12px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
	margin:0 16px 0 16px;
}
#footer ul.primary-links li a.mg {
	font:12px/11px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#09161f;
	text-decoration:none;
	margin:0 11px 0 0px;
}
#footer ul.primary-links li a.mg:hover {
	text-decoration:underline;
}
#footer ul.primary-links li a:hover {
	text-decoration:underline;
}
#footer p {
	padding:3px 0 3px 0;
	font:11px/16px Tahoma, Arial, Helvetica, sans-serif;
	color:#FAFAFA;
	font-weight:normal;
	margin:0;
	text-align:center;
	clear:both;
}
#footer p a {
	color:#fff;
	background-color:#0c1d2a;
	text-decoration:underline;
}
#footer p a:hover {
	color:#fff;
	background-color:#0a5083;
}
#footer ul.ad {
	display:block;
	list-style-type:none;
	margin:0px 0 0 0px;
	padding:6px 0 10px 244px;
	text-align:left;
	float:left;
}
#footer ul.ad li {
	height:40px;
	width:96px;
	display:block;
	border-right:#FFFFFF 1px dashed;
	float:left;
}
#footer ul.ad li.nobor {
	height:40px;
	width:96px;
	display:block;
	margin-left:10px;
	border-right:none;
}
#footer ul.ad li.nobor1 {
	height:40px;
	width:96px;
	display:block;
	float:left;
	margin-left:10px;
	border-right:#FFFFFF 1px dashed;
}
#footer ul.ad li a {
	font:10px/12px Tahoma, Arial, Helvetica, sans-serif;
	color:#d1bd86;
	background-color:#0c1c27;
	font-weight:bold;
	text-decoration:none;
	margin:0 0 0 0;
	display:block;
}
#footer ul.ad li a span {
	color:#ff0033;
	background-color:#0b1a24;
	text-transform:uppercase;
	margin:0 10px 0 0;
	display:block;
}
#footer ul.css {
	width:100px;
	display:block;
	margin:75px 0 0 211px;
	font-size:0px;
	padding:0px;
}
/*************** Custom CSS ********************/
#header span {
	display:none;
}
.maincontent {
	padding:0 0 0px 13px;
	float:left;
	width:418px;
}
li a.active {
	color:#5895BE;
}
#main_body td {
	color:#455067;
}
#main_body th {
	color:#FFF6D8;
}
#main_body td em {
	color:#ffffff
}
#footer h2 {
	display:none;
}
#footer ul.menu li {
	border-right:1px solid #ffffff;
	padding:0px;
}
#footer ul.menu li.last {
	border-right:0px;
}
#block-menu-primary-links {
	padding:100px 0 0 0;
	display:block;
}
#main_header #header #block-menu-primary-links ul li a {
	text-indent:0px;
}
#main_header #header ul.primary-links {
	width:100%;
	display:block;
	position:absolute;
	top:191px;
	padding:0;
	margin:0;
	background:none;
	background:none;
}
#main_header #header ul.primary-links li {
	background:url(images/saparation.gif) no-repeat right;
	height:22px;
	padding:0 14px 0 5px;
	margin:0;
	float:none;
	display:inline;
}
#main_header #header ul.primary-links li a {
	float:none;
	display:inline;
	font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#847543;
	text-decoration:none;
	text-indent:0px;
	padding:3px 0 0 15px;
	font-weight:bold;
	margin:0;
	width:inherit;
	background-color:#fff6d8;
	height:19px;
}
#main_header #header ul.primary-links li a:hover {
	background:url(images/navi_h.gif) no-repeat 0 4px;
}
#main_header #header ul.primary-links li.last {
	background:none;
}
#block-menu-primary-links h2 {
	display:none;
}
h2 a:link {
	color:#FFF6D9
}
h2 a:visited {
	color:#FFF6D9
}
h2 a:hover {
	color:#FFF6D9;
	text-decoration:underline;
}
#body p.front {
	background:url(images/welcome_pic.gif) no-repeat #0a2b43;
	color:#799fbb;
	padding:0 0 0 114px;
	margin:0 0 0 0px;
	width:598px;
	display:block;
	font:13px/17px Verdana, Arial, Helvetica, sans-serif;
}
#body span.submitted {
	display:none;
}
#body p.front a.readmore {
	width:56px;
	height:12px;
	display:block;
	background:url(images/more_bg.gif) no-repeat #0a2b43;
	margin:3px 0 42px 526px;
	font:11px/12px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	padding:0 0 0 5px;
	text-decoration:none;
}
#body p.front a.readmore:hover {
	background:url(images/more_bg_h.gif) no-repeat #0a2b43;
	color:#ff0033;
}
.content ul {
	padding:0px 0px 0px 0px;
	margin:3px 0 3px 0;
}
.content ul li {
	list-style:disc;
	margin:0 0 0 16px
}
.readmore a:link, .readmore a:visited, a:link.readmore, a:visited.readmore {
	background:url(images/more_bg.gif) no-repeat right #ff0033;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 17px 0 3px;
	white-space:nowrap;
}
.readmore a:hover, a:hover.readmore {
	background:url(images/more_bg_h.gif) no-repeat right #fff6d8;
	color:#FF0033;
}
.content p {
	padding:4px 0px 3px 0px;
}
.maincontent .content ul {
	display:block;
}
.maincontent .content li {
	background:transparent url(images/arrow1.gif) no-repeat scroll 0 12px;
	display:block;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0 0 0 14px;
	background-color:#0A2B43;
	color:#799FBB;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:24px;
	text-decoration:underline;
}
.maincontent .content li a:link {
	color:#799FBB;
	text-decoration:none;
}
.maincontent .content li a:visited {
	color:#799FBB;
	text-decoration:none;
}
.maincontent .content li a:hover {
	color:#799FBB;
	text-decoration:none;
}
.maincontent .content ol li {
	list-style:decimal;
	margin-left:23px;
	padding:0px;
	display:list-item;
	background:none;
}
.maincontent .content ol {
	margin-left:0px;
	padding:0px;
}
/*------------------------contentcontainer-----------------------------*/
#contentcontainer {
	clear:both
}
